.nav {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;

    // height: 35px;
    // vertical-align: middle;

    a {
      color: var(--surface-500);

      &:hover {
        color: #ff3a00;
      }
    }
  }
}
